//Navigation
.v-application .v-application--wrap .navigation{
    background-color: $primary;
    backdrop-filter: blur(8px);
    opacity: 0.85;
    transition: 1s all;
    &:hover{
        opacity: 1;
        transition: 1s all;
    }
}

.section__defaults{
    padding:8px 0;
    @include breakpoint(small){
        padding:20px 0;
    }
    @include breakpoint(medium){
        padding:40px 0;
    }
}

//V-Card styles
.card__wrap{
    padding-top:40px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #1b232b!important;
    position: relative;
}

.breaker{
    height: 1px;
    width: 60%;
    background-color: $secondary;
}
.breaker__wrap{
    display: flex;
    justify-content: center;
}

//Lists
.v-application ul{
    list-style-type: none;
    padding-left:0!important;
}
