.fade-enter-active, .fade-leave-active {
    transition: opacity 0.8s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
.contact__overlay{
    background-color: $primary;
    bottom: 0;
    height: auto; /* Full height (cover the whole page) */ 
    left: 0;
    position: fixed; /* Sit on top of the page content */
    right: 0;
    top: 0;
    width: 100%; /* Full width (cover the whole page) */
    z-index: 10;
    overflow-y: scroll;
}
.contact__card-wrap{
    padding-bottom:40px;
    width:400px;
    @include breakpoint(small){
        width:500px;
    }
    @include breakpoint(medium){
        width:600px;
    }
}