<template>
  <div>
    <Introduction></Introduction>
    <Projects></Projects>
    <About></About>
  </div> 
</template>

<script>
import Introduction from'@/components/Introduction.vue'
import Projects from'@/components/Projects.vue'
import About from'@/components/About.vue'
export default {
  components: {
    Introduction,
    Projects,
    About
  },
};
</script>
