<template>
    <div>
        <section id="Top" class="about section__defaults">
            <v-container>
                <v-row>
                    <v-col align-self="center" xs="12" sm="4">
                        <v-card>
                            <v-img :src="meImage" :lazy-src="meImageLazy">
                                
                            </v-img>
                        </v-card>
                    </v-col>
                    <v-col class="d-flex align-center justify-center" xs="12" sm="8">
                        <v-card class="card__wrap about__card-wrap">
                        <ul class="about__list">
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> 3+ years' web development experience</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> Strong experience HTML5, CSS, SCSS, Javascript, PHP, SQL</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> Experience with VueJS and Vuetify</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> Strong experience with Wordpress and Drupal</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> Strong experience with Version Control (GIT)</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> Experience with Material Design</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> 1st Class Bachelor of Science Degree in Computer Science</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> Experience with Creative Suite (PhotoShop, Illustrator)</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> Experience using Mac OS, Windows, Linux</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> CPanel, WHM and PHPMyAdmin and server based tasks</li>
                            <li class="about__list__item body-1 tertiary--text"><v-icon class="secondary--text" left>mdi-check</v-icon> Creative and analytic skills</li>
                        </ul>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </section>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                meImage:require('../assets/img/me-bg.jpg'),
                meImageLazy:require('../assets/img/me-bg-lazy.jpg'),

            }
        }
    }
</script>

<style lang="scss" scoped>

</style>