<template>
<div>
    <transition name="fade">
      <div id="FormOverlay" class="contact__overlay" v-show="contactOverlay">
        <v-btn icon @click.stop="contactOverlay = false">
          <v-icon class="tertiary--text">mdi-close</v-icon>
        </v-btn>
        <v-container>
          <v-row>
              <v-col class="d-flex align-center justify-center" xs="12">
                  <v-card class="card__wrap contact__card-wrap">
                      <form
                    class="contact__form"
                    name="contact"
                    method="POST"
                    netlify-honeypot="bot-field"
                    netlify
                    data-netlify="true"
                    >
                        <input type="hidden" name="form-name" value="contact" />

                        <p class="hidden" hidden>
                            <label>
                            Don’t fill this out if you're human:
                            <input name="bot-field" />
                            </label>
                        </p>

                    
                        <v-text-field
                        v-model="in_name"
                        dark
                        class="input__input"
                        label="Full Name"
                        type="text"
                        name="name"
                        id="name"
                        :error-messages="nameErrors"
                        @input="$v.in_name.$touch()"
                        @blur="$v.in_name.$touch()"
                        />
                        
                        <v-text-field
                        class="input__input"
                        label="Email"
                        type="text"
                        v-model="in_email"
                        name="email"
                        id="email"
                        dark
                        :error-messages="emailErrors"
                        @input="$v.in_email.$touch()"
                        @blur="$v.in_email.$touch()"
                        />
                
                        <v-textarea
                        class="input__input"
                        type="text"
                        v-model="in_message"
                        name="message"
                        label="Message"
                        rows="6"
                        id="message"
                        dark
                        :error-messages="messageErrors"
                        @input="$v.in_message.$touch()"
                        @blur="$v.in_message.$touch()"
                        />

                    <v-btn color="primary" class="tertiary--text" v-on:click="handleSubmit">Send</v-btn>
                    
                    </form>
                  </v-card>
                  
                  
              </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="d-flex align-center justify-center">
              <h2 class="tertiary--text headline">Prefer to email me? <a class="tertiary--text headline" href="mailto: sam.nunn91@gmail.com"> sam.nunn91@gmail.com</a></h2>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </transition>
    <v-app-bar class="navigation" app>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light tertiary--text">SAM</span>
        <span class="secondary--text">NUNN</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      
        <v-btn class="tertiary--text" text target="_blank" href="https://www.dropbox.com/s/zvxjzhtsugc3v9j/Sam%20Nunn%20Resume.pdf?dl=0">RESUME</a></v-btn> 
      
      <v-btn 
        class="tertiary--text"
        text
        @click.stop="contactOverlay = !contactOverlay"
      >
        CONTACT
      </v-btn>
    </v-app-bar>
</div>
    
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'
    export default {
        mixins: [validationMixin],
        validations: {
            in_name: { required },
            in_email: { required, email },
            in_message:{
                required, maxLength: maxLength(200)
            }
        },
        data(){
            return{
                contactOverlay: false,
                in_name: null,
                in_email: null,
                in_message: null,
                disabled:true,
            }
        },
        computed: {
            nameErrors () {
                const errors = []
                if (!this.$v.in_name.$dirty) return errors
                !this.$v.in_name.required && errors.push('Name is required.')
                return errors
            },
            emailErrors () {
                const errors = []
                if (!this.$v.in_email.$dirty) return errors
                !this.$v.in_email.email && errors.push('Must be valid e-mail')
                !this.$v.in_email.required && errors.push('E-mail is required')
                return errors
            },
            messageErrors (){
                const errors = []
                if (!this.$v.in_message.$dirty) return errors
                !this.$v.in_message.maxLength && errors.push('Message must be at most 10 characters long')
                !this.$v.in_message.required && errors.push('Message is required')
                return errors
            }
        },
        methods:{
            handleSubmit(){
                if(this.in_name && this.in_email && this.in_message){
                    event.preventDefault();
                    this.$v.$touch();
                }
                
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>