<template>
    <div>
        <section class="hero section__defaults">
            <v-container>
                <v-row>
                    <v-col class="d-flex align-center" xs="12" sm="6" md="5"  >
                        <div class="hero__wrapper ">
                            <h1 class="hero__heading tertiary--text display-1">
                                I'm Sam, a <span class="secondary--text">front end web developer</span>  from the United Kingdom now living in Toronto. Feel free to
                                 <span><a class="hero__link tertiary--text" href = "mailto: sam.nunn91@gmail.com">Contact Me</a></span>
                            </h1>
                        </div>
                    </v-col>
                    <v-col class="d-flex align-center" xs="12" sm="6" md="7" >
                        <v-card>
                            <v-img grey lighten-2 :src="imageHero" :lazy-src="imageHeroLazy" transition="expand-transition">
                                
                            </v-img>
                        </v-card>
                        
                    </v-col>
                </v-row>
            </v-container>
            
        </section> 
        <div class="breaker__wrap">
            <div class="breaker"></div>
        </div>
        
    </div>
</template>

<script>
    export default {
        data(){
            return{
                imageHero:require('../assets/img/sam-bw.jpg'),
                imageHeroLazy:require('../assets/img/sam-bw-lazy.jpg'),
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>