<template>
    <v-card class="card__wrap">
        <h2 class="projects__heading"><a class="headline tertiary--text" :href="link">{{title}}</a></h2>
        <p class="projects__paragraph body-1 tertiary--text mt-4 mb-8">{{paragraph}}</p>
        
        <v-img class="projects__image" :src="image"></v-img>
    </v-card>
</template>

<script>
    export default {
        props:{
            title: String,
            link: String,
            paragraph:String,
            image:String
        }
    }
</script>

<style lang="scss" scoped>

</style>