<template>
    <div>
        <section class="projects section__defaults">
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <!-- <v-card class="card__wrap">
                            <h2 class="projects__heading"><a class="headline tertiary--text" href="https://dudewheresmybar.netlify.com">DudeWheresMyBar</a></h2>
                            <p class="projects__paragraph body-1 tertiary--text mt-4">An application to add and locate sports bars across the states.</p>
                            
                            
                            <div class="projects__image-wrap">

                            </div>
                            <v-img class="projects__image" :src="dudewheresmybar">

                            </v-img>
                        </v-card> -->
                       <Project title="DudeWheresMyBar" 
                            link="https://dudewheresmybar.netlify.com"
                            paragraph="An application to add and locate sports bars across the states."
                            :image="dudewheresmybar">
                        </Project>
                    </v-col>
                </v-row>
                <div class="breaker__wrap">
                    <p class="secondary--text mb-0">. . .</p>
                </div>
                <v-row>
                    <v-col cols="12">
                        <v-card class="card__wrap">
                            <h2 class="projects__heading headline tertiary--text"> University Of Cambridge</h2>
                            <p class="projects__paragraph body-1 tertiary--text mt-4"><a class="tertiary--text" href="https://www.graduate.study.cam.ac.uk/">Graduate</a> and <a class="tertiary--text" href="https://www.undergraduate.study.cam.ac.uk/">Undergraduate</a>  websites.</p>
                            <div class="projects__image-wrap">

                            </div>
                            <v-img class="projects__image" :src="cambridge">

                            </v-img>
                        </v-card>
                        
                    </v-col>
                </v-row>
                <div class="breaker__wrap">
                    <p class="secondary--text mb-0">. . .</p>
                </div>
                <v-row>
                    <v-col cols="12">
                        <!--  <v-card class="card__wrap">
                            <h2 class="projects__heading headline tertiary--text"><a class="headline tertiary--text" href="https://mapscratchers.com/">Map Scratchers</a></h2>
                            <p class="projects__paragraph body-1 tertiary--text mt-4">A custom built blog to document travels and much more.</p>
                            <div class="projects__image-wrap">

                            </div>
                            <v-img class="projects__image" :src="mapScratchers">

                            </v-img>
                        </v-card> -->
                        <Project
                            title="Map Scratchers"
                            link="https://mapscratchers.com/"
                            paragraph="A custom built blog to document travels and much more."
                            :image="mapScratchers">

                        </Project>
                    </v-col>
                </v-row>
                <div class="breaker__wrap">
                    <p class="secondary--text mb-0">. . .</p>
                </div>
                <v-row>
                    <v-col cols="12">
                        <!-- <v-card class="card__wrap">
                            <h2 class="projects__heading"><a class="headline tertiary--text" href="https://www.koziwarm.com/">Koziwarm</a></h2>
                            <p class="projects__paragraph body-1 tertiary--text mt-4">A custom built quoting system for a boiler specialist. </p>
                            <div class="projects__image-wrap">

                            </div>
                            <v-img class="projects__image" :src="koziwarm">

                            </v-img>
                        </v-card> -->
                        <Project 
                            title="Koziwarm"
                            link="https://www.koziwarm.com/"
                            paragraph="A custom built quoting system for a boiler specialist. Built with WordPress"
                            :image="koziwarm">

                        </Project>
                    </v-col>
                </v-row>
            </v-container>
        </section>
        <div class="breaker__wrap">
            <div class="breaker"></div>
        </div>
    </div>
</template>

<script>
import Project from'@/components/Project.vue'
    export default {
        data(){
            return{
                isActive:false,
                dudewheresmybar: require('../assets/img/dudewheresmybar.png'),
                cambridge: require('../assets/img/cambridge.png'),
                mapScratchers: require('../assets/img/mapScratchers.png'),
                koziwarm: require('../assets/img/koziwarm.png')
            }
        },
        components:{
            Project
        }
    }
</script>

<style lang="scss">

</style>