<template>
  <v-app>
    
    <Header></Header>
    <v-content id="Top" class="primary">
      <router-view/>
      <v-btn v-show="toTop" v-scroll="onScroll" @click="$vuetify.goTo(selector)" color="secondary" fab
            fixed
            bottom
            right>
        <v-icon class="tertiary--text">mdi-chevron-up</v-icon>
      </v-btn>
    </v-content>
  </v-app>
</template>

<script>
import Header from'@/components/Header.vue'

export default {
  name: 'App',
  components: {
    Header
  },
  data(){
    return{
        toTop:false,
        selector: '#Top',
        test:''
    }
  },
  methods: {
      onScroll (e) {
          if (typeof window === 'undefined') 
          return 
          const top = window.pageYOffset ||   e.target.scrollTop || 0 
          this.toTop = top >730
      }
  }
};
</script>

<style lang="scss">

</style>
